In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df=pd.read_csv('synthetic.csv')
df_test=pd.read_excel('Immunotherapy.xlsx')
df

,Unnamed: 0,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
0,0,1,-4,13.824238,3,3,261,-3,1
1,1,1,38,11.836095,5,2,63,9,1
2,2,2,40,11.707228,5,1,4,1,0
3,3,1,31,13.016381,17,1,56,3,0
4,4,1,32,6.945001,-2,1,56,9,0
...,...,...,...,...,...,...,...,...,...
295,295,2,24,13.328185,5,1,337,4,1
296,296,1,20,9.027275,0,2,582,6,1
297,297,1,28,11.925854,12,3,48,76,1
298,298,1,41,14.141082,0,1,87,4,1
299,299,1,27,10.366047,-1,3,11,-3,1

In [7]:
try:
    df.drop('Unnamed: 0',axis=1,inplace=True)
except:
    print('Hata')

In [12]:
X=df.drop('Result_of_Treatment',axis=1)
y=df['Result_of_Treatment']

X_test=df_test.drop('Result_of_Treatment',axis=1)
y_test=df_test['Result_of_Treatment']

from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.5, random_state=42)

In [13]:
from sklearn.model_selection import cross_validate, GridSearchCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

import warnings
warnings.filterwarnings("ignore")

lgbm = LGBMClassifier(random_state=0)
params = {
    "boosting_type": ["gbdt", "dart", "goss"],
    "learning_rate": [0.1, 0.05, 0.01],
    "n_estimators": [10, 50, 100, 300]
}
clf = GridSearchCV(lgbm, params, cv=10)
clf.fit(X_train, y_train)
print("Best hyperparameter:", clf.best_params_)

Best hyperparameter: {'boosting_type': 'gbdt', 'learning_rate': 0.05, 'n_estimators': 10}

In [14]:
pred=clf.predict(X_test)

from sklearn.metrics import classification_report, accuracy_score, f1_score, confusion_matrix
accuracy_score(y_test,pred)

0.7888888888888889

In [17]:
f1_score(y_test,pred)

0.8819875776397516